*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FDF6EC;
  color: #B7A198;
  margin: 0;
  text-align: center;
  font-family: 'Itim', cursive;
  font-size: 1.2rem;
}

h1 {
  color: #DAB88B;
  font-size: 5rem;
  margin: 0 auto;
  font-family: 'Parisienne', cursive;
}

h2 {
  color: #DAB88B;
  font-family: 'Cookie', sans-serif;
  font-size: 4rem;
  font-weight: normal;
}

.top-container h2 {
  font-size: 3rem;
}

h3 {
  color: #54BAB9;
  font-size: 1.5rem;
  font-family: 'Gloria Hallelujah', cursive;
}

.wave {
  color: #F7ECDE;
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  font-weight: normal;
  padding: 0 2rem;
  display: flex;
  position: relative;
}

.wave span{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: animate 1s ease-in-out;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40%, 100% {
    transform: translateY(0px);
  }
}

p {
  line-height: 2;
}

hr {
  border: dotted #704F4F 0.3rem;
  border-bottom: none;
  width: 4%;
  margin: 6rem auto;
}

.top-container {
  background-color: #F7ECDE;
  position: relative;
  padding-top: 5.25rem;
}

.middle-container {
  margin: 6.25rem 0;
}

.bottom-container {
  background-color: #9ED2C6;
  padding: 3.125rem 0 1.25rem;
}

.skills {
  clear: left;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto;
  text-align: left;
}

.mountain {
  width: 33%;
}

.pro {
  text-decoration: underline;
}

.intro-head{
  width: 50%;
  margin: 3.125rem auto 1.25rem auto;
  text-align: left;
  display: inline-block;
}

.intro {
  width: 50%;
  margin: 0.625rem auto;
  text-align: left;
  display: inline-block;
}

.contact-message {
  width: 40%;
  margin: 2.5rem auto 3.75rem;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 1.25rem 0;
}

.top-cloud {
  width: 12%;
  position: absolute;
  left: 70%;
  top: 5%;
}

.bottom-cloud {
  width: 15%;
  position: absolute;
  left: 15%;
  top: 40%;
}

.code-img {
  width: 19%;
  float: left;
  margin: 2rem 2rem 2rem 0;
}

.paint-img {
  width: 19%;
  float: right;
  margin: 2rem 0 2rem 2rem;
}

.btn {
  background: #54BAB9 linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}

.profile {
  margin: 0 auto;
  max-width: 1500px;
}

.btn:hover {
  background: #30e3cb linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.kriz-image {
  width: 30%;
  height: 30%;
  border-radius: 15%;
  float: left;
  margin: 3rem 3rem 4rem 7rem;
}

.footer-text {
  margin-bottom: 1rem;
  color: #EAF6F6;
}

nav {
  background-color: #A27B5C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the links inside the navigation bar */
.links a {
  display: inline-block;
  font-family: 'Itim', cursive;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 2.2rem 1.7rem;
}

/* Change the color of links on hover */
.links a:hover {
  background-color: #DCD7C9;
  color: black;
  text-decoration: underline;
  transition: 1s;
}

.socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.socials img{
  width: 3rem;
  padding: 0 0.5rem;
}

.socials img:hover{
  animation:heart 1.5s linear;
}

@keyframes heart{
  from{
    transform:scale(1)
  }

  40%{
    transform:scale(1.3)
  }
}

.repo {
  color: #704F4F;
  text-decoration: none;
}

.repo a:hover {
  color: #DAB88B;
  transition: 1s;
}

.repo a:visited {
  color: #A27B5C;
}

.process-wrapper {
  margin:auto;
  max-width:1080px;
}

#progress-bar-container {
  position:relative;
  width:90%;
  height:100px;
  margin: 65px auto auto;
}

#progress-bar-container ul {
  padding: 15px 0 0;
  z-index:9999;
  position:absolute;
  width:100%;
  margin: -40px 0 0;
}

#progress-bar-container li:before {
  content:" ";
  display:block;
  margin:auto;
  width:30px;
  height:30px;
  border-radius:50%;
  border:solid 2px #aaa;
  transition:all ease 0.3s;
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
  border:solid 2px #fff;

  background: linear-gradient(to right, #E3DFC8 10%, #CBAF87 200%);
}

#progress-bar-container li {
  list-style:none;
  float:left;
  width:20%;
  text-align:center;
  color:#aaa;
  text-transform:uppercase;
  font-size:11px;
  cursor:pointer;
  font-weight:700;
  transition:all ease 0.2s;
  vertical-align:bottom;
  height:60px;
  position:relative;
}

#progress-bar-container li .step-inner {
  position:absolute;
  width:100%;
  bottom:0;
  font-size: 1rem;
  color: #3C2317;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
  color:#444;
}

#progress-bar-container li:after {
  content:" ";
  display:block;
  width:6px;
  height:6px;
  background:#777;
  border:solid 7px #fff;
  border-radius:50%;
  margin: 40px auto auto;
  box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
  transition:all ease 0.2s;

}

#progress-bar-container li:hover:after {
  background:#555;
}

#progress-bar-container li.active:after {
  background:#197163;
}

#progress-bar-container #line {
  width:80%;
  margin:auto;
  background: #ddd;
  height:6px;
  position:absolute;
  left:10%;
  top:57px;
  z-index:1;
  border-radius:50px;
  transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
  content:" ";
  width:100%;
  height:100%;
  background: #207893;
  background: linear-gradient(to right, #DFBB9D 0%, #A3D2CA 80%, #C3CDCA 150%);
  position:absolute;
  z-index:2;
  border-radius:50px;
  transition:all ease 0.9s;
}

#progress-content-section {
  width:90%;
  margin: auto;
  background: #F7E9D7;
  border-radius: 4px;
}

#progress-content-section .section-content {
  padding:30px 40px;
  text-align:center;
}

#progress-content-section .section-content h2 {
  font-family: 'Itim', serif;
  font-size:18px;
  text-transform:uppercase;
  color: #151D3B;
  letter-spacing:1px;
}

#progress-content-section .section-content p {
  font-size:16px;
  line-height:1.8em;
  color: #826F66;
}

#progress-content-section .section-content {
  display:none;
  animation: FadeInUp 700ms ease 1;
  animation-fill-mode:forwards;
  transform:translateY(15px);
  opacity:0;
}

#progress-content-section .section-content.active {
  display:block;
}

@keyframes FadeInUp {
  0% {
    transform:translateY(15px);
    opacity:0;
  }

  100% {
    transform:translateY(0px);
    opacity:1;
  }
}

.timeline-para {
  width: 50%;
  margin: 3rem auto;
  padding-bottom: 3rem;
  text-align: center;
}

.mob {
  display: none;
}

.first-row , .second-row, .third-row {
  display: flex;
  justify-content: center;
  height: 60vh;
  margin: 6rem;
}

.first-row img, .second-row img, .third-row img {
  margin: 3rem;
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 1500px){

  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.6rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
  }

  .profile {
    max-width: 1140px;
  }

  .kriz-image {
    width: 20rem;
    margin: 0 3rem;
  }

  .intro-head {
    width: 80%;
    text-align: center;
  }

  .intro {
    width: 58%;
    font-size: 1.1rem;
    clear: left;
  }

  .posters {
    display: none;
  }

  .mob {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mob img {
    margin: 4rem 2rem;
    max-width: 35%;
    max-height: 100%;
  }
}

@media (max-width: 1010px) {

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3.3rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
  }

  .kriz-image {
    width: 38%;
    margin: 2rem;
    float: none;
    border-radius: 12%;
  }

  hr {
    margin: 4rem auto;
    width: 9%;
  }

  .intro-head {
    width: 70%;
  }

  .top-container h2 {
    font-size: 2.2rem;
  }

  .wave {
    font-size: 1.3rem;
    padding: 0 1.7rem;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .links a {
    font-size: 0.9rem;
    display: flex;
    padding: 2.2rem;
    justify-content: center;
  }

  .projects img {
    width: 13%;
  }

  .code-img {
    width: 13%;
    margin: 1.8rem 1.8rem 1.8rem 0;
  }

  .paint-img {
    width: 13%;
    margin: 1.8rem 0 1.8rem 1.8rem;
  }

  .socials {
    margin: 1rem 0;
    display: block;
  }

  .socials img {
    margin: 0.5rem;
    padding: 0;
    width: 1.8rem;
  }

  #progress-bar-container li .step-inner {
    font-size: 0.7rem;
  }

  .mountain {
    width: 50%;
  }

  .skill-row {
    width: 60%;
  }

  .timeline-para {
    width: 60%;
    text-align: center;
  }

  .intro {
    width: 60%;
    text-align: center;
  }

  .bottom-container {
    padding: 1.125rem 0 1.25rem;
    margin: 0;
  }
}

@media (max-width: 768px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 3.3rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  .kriz-image {
    width: 40%;
    margin: 1.5rem auto;
    border-radius: 8%;
  }

  hr {
    width: 7%;
  }

  .intro-head {
    width: 60%;
    margin: 1rem;
    text-align: center;
  }

  .intro {
    width: 70%;
  }

  .contact-message {
    width: 60%;
  }

  .top-container h2 {
    font-size: 2rem;
  }

  .wave {
    font-size: 1rem;
    padding: 0 1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .links a {
    padding: 1.8rem;
  }

  .mob img {
    max-width: 60%;
  }

  .projects img {
    width: 22%;
  }

  .code-img {
    width: 19%;
    margin: 1.5rem 1.5rem 1.5rem 0;
  }

  .paint-img {
    float: left;
    margin: 1.5rem 1.5rem 1.5rem 0;
  }

  .socials img {
    width: 1.5rem;
  }

  #progress-bar-container li .step-inner {
    font-size: 0.6rem;
  }

  .skill-row {
    width: 70%;
  }

  .timeline-para {
    width: 70%;
  }

  .btn {
    font-size: 1.1rem;
  }
}

@media (max-width: 440px) {

  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  .kriz-image {
    width: 50%;
  }

  .top-container h2 {
    font-size: 2rem;
  }

  nav {
    justify-content: space-evenly;
  }

  .links a {
    font-size: 0.8rem;
    flex-wrap: wrap;
    padding: 1.3rem;
  }

  .mob img {
    margin: 4rem;
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }

  #progress-bar-container li .step-inner {
    font-size: 0.5rem;
  }

  .mountain {
    width: 50%;
  }

  .btn {
    font-size: 1rem;
  }
}
